DirectoryIndex rest.php
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^words/([0-9]+)$ main.php?id=$1 [L]
  RewriteRule ^(words|patterns)$ main.php [L]
</IfModule>